* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html {
    // overflow: hidden;
}

body {
    background: rgb(230, 245, 251);
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.mainTitle {
    font-size: 4rem;
    position: relative;
    color: white;

    &::after {
        content: "";
        display: block;
        border: 2px solid #ffffff8c;
        margin: 1rem auto;
        width: 10rem;
        
    }
}

.wrapper {
    background: white;
    padding: 1.5rem 1.25rem;
    box-shadow: 4px -1px 16px 2px #0000001f;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    // background: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    

    &__devDetails {
        // padding: 1.25rem 1.5rem;
        transition: transform 0.3s ease-in-out;
    }

    &__devTitle {
        font-weight: 400;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;

    }

    &__devSubtitle {
        margin-top: 0;
        color: rgb(59, 144, 218);
        font-size: 0.75rem;
    }

    &__devThumb {
        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    &__devDesc {
        line-height: 22px;
    }

    &__arrows {
        
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;

        img {
            cursor: pointer;
            width: 25px;
            background-color: #dbdbdb;
            border-radius: 50%;
            object-fit: cover;
            place-items: center;
        }
    }

    &__btnWrapper {
        text-align: center;
        margin-top: 3rem;

        button {
            width: 8rem;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            outline: none;
            border: 2px solid rgb(28, 154, 176);
            background:rgb(179, 244, 255);
            border-radius: 10px;
            padding: .5rem .75rem;
        }
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}