* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html {
    overflow: hidden;
}

body {
    background: rgb(216, 234, 239);
}

.container {
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.mainTitle {
    font-size: 4rem;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    background: white;
    text-align: center;

    &__devDetails {
        padding: 1.25rem 1.5rem;
    }

    &__devTitle {
        font-weight: 400;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

    &__devSubtitle {
        margin-top: 0;
        color: rgb(15, 149, 173);
        font-size: 0.75rem;
    }

    &__devThumb {
        img {
            height: 80px;
        }
    }

    &__arrows {
        
        display: flex;
        justify-content: center;
        gap: 1rem;

        img {
            cursor: pointer;
            width: 30px;
        }
    }

    &__btnWrapper {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        button {
            max-width: 20%;
            cursor: pointer;
            outline: none;
            border: 2px solid rgb(28, 154, 176);
            background:rgb(179, 244, 255);
            border-radius: 10px;
            padding: .25rem .75rem;
        }
    }
}

.dNone {
    display: none;
}

.dFlex {
    display: flex;
}